<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Manager</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        span {
            color: crimson;
            font-weight: bold;
        }
        body {
            font-family: "Roboto", sans-serif;
            background: #ECEFF1;
        }
        .language-link {
		  display: inline-block;
		  margin-right: 10px;
		  text-decoration: none;
		  color: #333;
		}
		
		.language-icon {
		  width: 20px;
		  height: 20px;
		  vertical-align: middle;
		}
		
		.language-text {
		  margin-left: 5px;
		  vertical-align: middle;
		}
    </style>
   
</head>
<body>
    <div class="container">
       <div class="row">
	<div  class="col-9">
	<br>
	<H4 style="color:#1a14ba" ><b th:text="#{manage}"> <br></b></H4> <br>
	</div>
	<div  class="col-3 ml-auto">
	<br>
	<a class="language-link" href="/home?lang=en">
  <img class="language-icon" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/store/english.svg" alt="English">
  <span class="language-text">English</span>
</a>
<a class="language-link" href="/home?lang=vi">
  <img class="language-icon" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/default.svg" alt="Tiếng Việt">
  <span class="language-text">Tiếng Việt</span>
</a>

    </div>
    </div>
    	<div class="row">
    	<div class="col-2">
    	<h1 style="font-size: 18px;" th:if="${username}" th:text="#{welcome_sub}"  >Welcome  </h1>
    	</div>
    
        <span th:text="${username}"> </span>
   	
    	</div>
        	<br>
        <div class="row">
        <div class="col-8" >
            <a class="btn btn-success" th:if="${username}=='admin' " th:href="@{/update(id=-1)}"  th:text="#{add}" >Add Book</a>
            <a class="btn btn-dark" th:if="${username}" th:href="@{/logout}" th:text="#{logout}" >Log out</a>
            <a class="btn btn-dark" th:if="!${username}" th:href="@{/formLogin}" th:text="Login"></a>
            <a class="btn btn-info" th:if="${username}=='admin' " th:href="@{/statistical}" th:text="#{statistical}"></a>
            <a class="btn btn-info" th:if="${username}=='admin' " th:href="@{/management}" th:text="#{acc}">Acc Management</a>
			<a class="btn btn-primary" th:if="${username}" th:href="@{/sortprice(id=1)}" >▲</a>
			<a class="btn btn-primary" th:if="${username}" th:href="@{/sortprice(id=-1)}" >▼</a>
        </div>
        <div  class="col-4 ml-auto">
			<form action="/search" method="get" class="d-flex">
			<div class="input-group">
			    <input type="text" id="searchInput" name="keyword"class="form-control">
			    <div class="input-group-append">
		      	<button type="submit" class="btn btn-primary" th:text="#{search}" >Search</button>
		    	</div>
		  	</div>
			</form>
			</div>
			</div>
        <div class="container mt-3">
       	<div class="container mt-3">
    	<div class="search-container mb-3">
        
   		 </div>
            <table class="table table-bordered table-sm">
                <thead class="table-dark">
                <tr>
                    <th style="text-align:center;"scope="col">ID</th>
                    <th style="text-align:center;"scope="col" th:text="#{title}" >Title</th>
                    <th style="text-align:center;"scope="col"th:text="#{author}" >Author</th>
                    <th style="text-align:center;"scope="col"th:text="#{category}" >Category</th>
                    <th style="text-align:center;"scope="col"th:text="#{publishdate}" >Publish Date</th>
                    <th style="text-align:center;" scope="col"th:text="#{pagenumber}" >Page number</th>
                    <th style="text-align:center;" scope="col"th:text="#{quantity}" >Quantity sold</th>
                    <th style="text-align:center;" scope="col"th:text="#{price}" >Price</th>
                    <th style="text-align:center;" scope="col" th:text="#{func}" >Function</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <th style="text-align:center;"scope="row" th:text="${book.id}"></th>
                    <th style="text-align:center;"th:text="${book.title}"></th>
                    <td style="text-align:center;"th:text="${book.author}"></td>
                    <td style="text-align:center;"th:text="${book.category}"></td>
                    <td style="text-align:center;"th:text="${#dates.format(book.datepublic,'dd-MM-yyyy')}"></td>
                    <td style="text-align:center;" th:text="${book.pagenumber}"></td>
                    <td style="text-align:center;" th:text="${book.quantity}"></td>
                    <td style="text-align:center;" th:text="${book.price}"></td>
                    <td style="text-align:center;">
                        &nbsp; &nbsp;&nbsp;&nbsp;<a class="btn btn-info" th:if="${username}" th:href="@{/update(id=${book.id})}" th:text="#{view}"></a> &nbsp;&nbsp;&nbsp;
                        <a class="btn btn-danger" th:if="${username}" th:href="@{/delete(id=${book.id})}" id="delete"  onclick="return confirm('Are you sure?')" th:text="#{delete}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
	<script>

//--------------------------------------------------------------
    var searchButton = document.getElementById("searchButton");
    searchInput.addEventListener("input", searchBooks);

    function searchBooks() {
        var input = document.getElementById("searchInput").value.toLowerCase();
        var rows = document.getElementsByTagName("tr");

        for (var i = 1; i < rows.length; i++) {  // Start from 1 to skip table header row
            var title = rows[i].getElementsByTagName("th")[1].innerText.toLowerCase();
            var author = rows[i].getElementsByTagName("td")[0].innerText.toLowerCase();
            if (title.includes(input) || author.includes(input)) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>
</body>
</html>